body {
    background: linear-gradient(145deg, #ee82ee, slateblue, #ffd86a, purple);
    /*background-repeat: inherit;*/
}
.menu {
    height: 80px;
    background-color: black;
    text-align: center;
    color: white;
}
.textmenu {
    padding-top: 20px;
}
img {
    width: 450px;
    height: auto;
    margin: 80px;
}
.script {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    padding-top: 40px;
}